	<div data-role="header" data-position="fixed">
        <a href="/Home/Index" data-icon="home"  class="ui-btn-left" data-theme="b">Home</a>
		<h1>Drinky</h1>
        <a href="#menu_main"  data-role="button" iconpos="notext" data-icon="list-ul" data-theme="b" data-rel="popup" data-position-to="window" data-transition="slidedown">Options</a>
        <div data-role="popup" id="menu_main" data-theme="a"  >
	    <ul data-role="listview" data-inset="true" style="min-width:230px;" data-theme="b">
		    <li><a href="#" >Mark As Favorite</a></li>
		    <li><a href="#">Similiar Drinks</a></li>
		    <li><a href="/Account/Logoff">Logout</a></li>
	    </ul>
        </div>
	</div>